* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

header {
    height: 100px;
    background-color: #0084fd;
}

.container {
    width: 90%;
    height: 100%;
    margin: auto;
}

.container .logo {
    
}



header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 1.5rem;
}

/* main */

.development {
    background-color: orange;
}

.development .container {
}

.card {
    min-height:30px ;
    width: 100%;
    margin: 5px 0px;
    background-color: lightskyblue;

}



/* debug */

.container {
    border: 2px solid black ;
    min-height: 50px;
}