* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

/* body */
body {
    max-width: 500px;
    margin: auto;
}

/* header */

header {
    height: 100px;
    background-color: #0084fd;
}

.container {
    width: 90%;
    height: 100%;
    margin: auto;
    padding: 25px 0px;
}

.container .logo {
    
}



header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 1.5rem;
}

/* main */

/* section development */

.development {

}

.development .container {
}

.card {
    width: 100%;
    margin: 10px 0px;
    background-color: #b5ddff;

}

.card {
    border-radius: 50px;
}

.development h2 {
    color: #0084fd;
    padding: 25px 0px;
}

.development p {
    padding: 15px 0px;
}

.card-container {
    width: 90%;
    height: 100%;
    margin: auto;
    text-align: center;
}

button {
    padding: 10px 15px;
    border-radius: 30px;
    background-color: #0084fd;
    color: white;
    border: none;
    font-size: 1.3rem;
}

button i {
    padding-right: 10px;
}

.development img {
    width: 250px;
}

.development .icon {
    text-align: center;
    font-size: 5rem;
    color: #0084fd;
    margin: 15px 0px;
}


/* section strategic planning */

.planning {
    background-color: #9792e4;
}

.planning img {
    max-width: 100%;
}

.planning h2 {
    color: white;
    font-size: 2.5rem;
    margin: 20px 0px;
}

.card.nocolor{
    background-color: #9792e4;
}

.card.white {
    background-color: white;
    text-align: center;
}

.card.white h2 {
    color: black;
}

.card.white button {
    padding: 5px;
    background-color:#9792e4 ;
    text-align: center;
}

/* section testimonials */

.testimonials {
    text-align: center;
}

.testimonials h2 {
    font-size: 0.9rem;
    margin: 30px 0px;
}

.testimonials h1 {
    color: #9792e4;
    font-size: 2rem;
    margin: 30px 0px;
}

.testimonials img {
    width:30%;
    border-radius: 50%;
}

/* section Benefits */

.benefits {
    background-color: #9792e4;
}

/* section About Us */

.aboutus h1 {
    color: #9792e4;
    font-size: 3rem;
    padding: 20px 0px;
}

.aboutus p {
    padding: 20px 0px;
}

.aboutus .card {
    background-color: white;
}

.aboutus .card-img {
width: 50%;
position: relative;
border-radius: 50px;
background-color: white;
}

.card-img img {
    object-fit: cover;
}

.card-img i {
    font-size: 4rem;
    color: #9792e4;
    position: absolute;
    bottom: 70%;
    right: 0%;
    
}

.card-txt h2 {
    color: #9792e4;
    margin: 10px 0px;
}

.card-txt button {
    background-color: #9792e4;
    color: white;
    padding: 5px;
    font-size: 0.8rem;
    margin:10px 0px
}

/* section CTA */

.cta {
    background-color: #9792e4;
}

.cta .container {
    text-align: center;
}

.cta h3 {
    color: white;
    font-size: 0.9rem;
}

.cta h2 {
    color: white;
    font-size: 2rem;
}

.cta h1 {
    color: #fdc15f;
    font-size: 3rem;
}

.cta p {
    color: white;
    width: 40%;
    margin: auto;
}

.cta button {
    background-color: white;
    color: #9792e4;
    padding: 20px 40px;
    border-radius: 50px;
}

.pre-footer {
    color: white;
}

.pre-footer a {
    color: white;
    font-size: 0.9rem;
}

.pre-footer i {
    font-size: 0.3rem;
    position: relative;
    bottom: 3px;
}

.cta * {
    padding: 10px 0px;
}

/* footer */

footer {
    background-color: #333333;
    text-align: center;
    color: white;
}

footer .container {
    padding: 30px 0px;
}

footer a {
    color: #9792e4;
}

.upper-footer {
    padding: 20px 0px;
}

.lower-footer {
    padding: 20px 0px;
}

img {
    max-width: 100%;
}


/* debug */

.container {
    border: 2px solid black ;
    min-height: 50px;
}

.card {
    min-height:150px ;
}


.card-container {
    height: 100%;
}

/* RESPONSIVE RULES */

/* tablet rules */

@media screen and (min-width: 501px) {
    body {
        max-width: 769px;
    }

    .development .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .development .card {
        width: calc(100% / 3 - 10px);
    }

    .development .card.larger {
        width: calc(100% / 1.5 - 10px);
    }

    .benefits .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .benefits .card {
        width: calc(100% / 2 - 10px);
    }

    .benefits h1 {
        width: 100%;
    }

    .aboutus .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .aboutus .aboutus-text {
        width: 55%;
    }

    .aboutus .card {
        width: 40%
    }
}

/* desktop rules */

@media screen and (min-width: 769px) {
    body {
        max-width: 1500px;
    }

    .container {
        width: 80%;
    }

    /* planning */

    .planning .container {
        width: 70%;
        display: flex;
    }

    /* benefits */

    .benefits .card {
        width: calc(100% / 3 - 10px);
    }

    /* aboutus */

    .cta .container {
        width: 55%;
    }

    /* footer */

    footer .container {
        width: 50%;
    }


    
}